	*{
		margin: 0;
		padding: 0;
	}
	img{
		border: none;
	}
	#gundongbox{
		width: 750px;
		height: 140px;
		margin: 80px auto;
		position: relative;
		overflow: hidden;
	}
	#gundongbox ul{
		list-style: none;
		width: 5600px;
		position: absolute;
		top: 0;
		left: 0;
	}
	#gundongbox ul li{
		float: left;
		margin-left:20px;
	}
	#gundongbox ul li img{
		height: 140px;
	}